/* DEFAULT */
body {
	margin:0px;
	padding:0px;
	font-family: 'Inconsolata', monospace;
	font-size:14px;
	line-height:1.3;
	color: #444444;
}
h1,h2 {
	text-align : center;
	color: #166534;
	font-size:2.2rem;
	text-decoration:underline;
	
}
h3 {
	font-size:1.2rem;
	margin:0px;
	margin-left:5px;
}

a {
	text-decoration:none;
}

#navbar {
	margin:8px;
}
#lower-image {
	width: 40px;
	height:40px;
}
#higher-image{
	display:none;
}
#banners{
	display:flex;
}
#banner {
	width:100%;
	border:2px solid lightblue; 
	border-radius:20px;
	object-fit: cover;
	max-height:800px;
}

#about {
	padding:2px 0px 0px 25px;
	display: flex;
	max-width:900px;
	margin: 0px auto;
	flex-flow:row wrap;
}
#team {
	border-radius:25px;
	width:100%;
	
}

#teams {
	margin: auto;
}
#jobs{
	display:none;
}

.job-list {
	border:1px solid black;
	margin:8px;
}
.job-list ul {
	margin:2px;
	padding : 4px 20px;
}



#application {
	max-width:900px;
	margin:0 auto;
	padding:4px;
}
#application div{
	margin-bottom:16px;
}

#application-form input {
	font-size:1rem;
	padding:4px;
	border: 1px solid black;
	border-radius:10px;
}

#application-form label {
	font-size:1.2rem;
	color:black;
}

#application-form textarea,select {
	font-size:1rem;
	padding:4px;
	border:1px solid black;
	border-radius:10px;
}
#application-form textarea {
	width:95%;
}
.fill {
	width:95%;
}



#application-form input[type="submit"]{
	background-color:#dcfce7;
	padding:8px;
	font-weight:100;
	font-size:1.2rem;
	color:rgba(0,0,0,0.5);
	font-family: 'Lobster', sans-serif;
	margin:16px;
	margin-left:0px;
}
#application-form input[type="submit"]:hover{
	background-color:#ccffdf;
	color:rgba(0,0,0,0.7);
	cursor:pointer;
}
#application-form input[type="submit"]:active{
	background-color: #bdf8d3;
	color:rgba(0,0,0,0.6);
}



#footer {
	background-color: lightgrey;
	margin-bottom:0px;
	text-align: center;
}	
#footer-links {
	padding:0px;
	display:flex;
	justify-content: center;
	gap: 0px 20px;
}
#footer-links li{
	/*display:inline;*/
	list-style-type: none;
}
.links{
	color:#16a34a;
}
.links:hover {
	color:#166534;
}

/* SMALL SCREEN	 */
@media screen and (min-width:576px){
	.fill {
		width:85%;
	}
	#application-form textarea {
		width:85%;
	}
}

/* TABLET */
@media screen and (min-width:765px){
	body{
		font-size: 16px;
	}
	#lower-image {
		display:none;
	}
	#higher-image {
		display:inline;
		width:100px;
	}
	#about{
		display:flex;
		flex-wrap:nowrap;
	}
	#description {
		width:50%;
	}
	#teams {
		width:50%;
	}


	#jobs {
		display:block;
		max-width:900px;
		margin:0px auto;
		margin-bottom:32px;
	}
	#jobs-table {
		width:100%;
		border-collapse:collapse;
	}
	.jobs-header-row th{
		font-family: 'Lobster', sans-serif;
		font-size:20px;
		padding:5px;
		border:1px solid grey;
		background-color:#dcfce7;
		font-weight:400;
		color: rgba(0,0,0,0.7);
	
	}
	.jobs-data-row td {
		border:1px solid lightgrey;
		padding:8px;
		color:#222222;
	}
	#jobs-table tr:nth-child(odd) {
		background-color:#bbf7d0;
	}
	#mobile-jobs {
		display:none;
	}
	.fill {
		width:auto;
	}
	#application-form textarea {
		width:50%;
	}
}

/* LAPTOP */
@media screen and (min-width:996px){
	
}

/* MEDIUM SCREEN */
@media screen and (min-width:1200px){
	
}
